@charset "UTF-8";
* {
  font-family: Arial, Helvetica, sans-serif; 
    /*height: 100%;*/
}
p {
    text-align: justify;
}
body {
background-image: linear-gradient(to right, #8C1F28,#591C21);
}
main {
    background-color: white;
    width: 500px;
    padding: 20px;
    margin: auto;
    box-shadow: 10px 10px 10px rgb(78, 77, 77);
}
h1 {
color: #044040;
text-align: center;
text-shadow: 1px 1px 0px black;
}
h2 {
color: #D92525;
}