@charset "UTF-8";
/*
em HTML é id = em CSS é #
em HTML é class = em CSS é .*/
body{
    background-color: rgb(178, 192, 164);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(20, 87, 66);
}
h1#principal {
    color: black;
    text-align: center;
    background-color: rgba(82, 73, 90, 0.418);
}
h2{
    color: rgb(71, 179, 143);
}
.básico {
    color: brown;
}
.intermediário {
    color: chocolate;
}
.destaque {
    background-color: darkblue;
}