@charset "UTF-8";

       body {
        background-color: rgb(236, 174, 1);
        font-family: Arial, Helvetica, sans-serif;
       }
       h1 {
        color: rgb(47, 8, 224);
        background-color: rgb(77, 77, 121);
       }
       p {
        text-align: justify;
        font-size: 13px;
       }